**.orig
*.rbc
*.sassc
.bundle
.rspec
.rvmrc
.sass-cache/
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
app/views/shared/_sidebar_ads.html.erb
capybara-*.html
config/database.yml
config/email.yml
config/initializers/omniauth.rb
config/tester.yml
config/unicorn.rb
db/schema.rb
log/*.log
pickle-email-*.html
rerun.txt
tmp/
